html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* My CSS */

:root {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}
body {
    background-color:rgb(43, 38, 38);
    margin: 0px;
    box-sizing: border-box;
}
p, span {
    padding: 10px 40px;
    font-size: 24px;
}

it {
    font-style: italic;
}
div.container {
    display: flex;
    justify-content: center;
    height: clamp(100vh, 50vh, 75vh);
    width: 75vw;
    margin: auto;
}
div.odin {
    background-color: green;
    flex: 1;
    position: relative;
}
div.sign-up {
    background-color: whitesmoke;
    flex: 1.5 1.5;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}
div.odin-box {
    width: 100%;
    height: 180px;
    position: absolute;
    background-color: rgba(43, 38, 38, 0.267);
    top: 200px;
}
div.image-info {
    position: absolute;
    width: 100%;
    bottom: 20px;
    background-color: rgba(43, 38, 38, 0.267);
    text-align: center;
    overflow: hidden;
    color: #E5E7EB;
}
div.column {
    padding: 20px;

}
header {
    padding-top: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 40px;
}
form {
    flex: 1;
    display: flex;
    gap: 3em;
    padding: 0 20px;
}

input {
    width: 250px;
    height: 20px;
    border: 1px solid #E5E7EB
}
label {
    display: block;
    padding-top: 20px;
}
section.registration-form {
    padding: 20px 0;
    box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
    background-color: white;
}
section.create {
    flex: 1;
}
input.submit-button {
    font-size: 1.2em;
    margin: 40px;
    height: 50px;
    width: 250px;
    background-color: #596D48;
    color: white;
    border-width: 0px;
    border-radius: 10px;
    box-shadow: rgba(41, 60, 82, 0.158) 5px 10px 5px -5px;
}