html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* My CSS */
@font-face {
    font-family:'norsebold';
    src: url('assets/norse-bold-webfont.woff2') format('woff2'),
         url('assets/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
:root {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color:rgb(43, 38, 38);
    margin: 0px;
    box-sizing: border-box;
}
p, span {
    padding: 10px 40px;
    font-size: 24px;
}
p.required {
    font-size: 1rem;
}
label>span {
    padding: 0px;
    font-size: 1rem;
}
div.image-info>a {
    color:white;
}
it {
    font-style: italic;
}
div.container {
    display: flex;
    justify-content: center;
    height: clamp(100vh, 50vh, 75vh);
    width: 75vw;
    margin: auto;
}
div.odin {
    background-color: rgb(43, 38, 38);
    flex: 1;
    position: relative;
    background-image: url('assets/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: 800px;
}
div.odin-box>p.odin-title{
    font-family: 'norsebold';
    color: white;
    font-size: 7rem;
    padding: 0 10px;
}
div.odin-box>img {
    height: 140px;
    width: auto;
}
div.sign-up {
    background-color: whitesmoke;
    flex: 1.5 1.5;
    display: flex;
    flex-direction: column;
    padding: 20px 0 120px;
}
div.odin-box {
    width: 100%;
    height: 180px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.493);
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
div.image-info {
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align: center;
    overflow: hidden;
    color: #E5E7EB;
    font-size: 0.8em;
}
div.column {
    padding: 20px;

}
header {
    padding-top: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 40px;
}
form {
    flex: 1;
    padding: 0 0px;
}

input {
    width: 250px;
    height: 20px;
    border: 1px solid #E5E7EB
}

input:invalid:focus {
    background-color: rgba(233, 13, 13, 0.541);
}
input:focus {
    outline: 1px solid rgba(23, 23, 117, 0.719);
    -webkit-box-shadow: 4px 9px 9px 1px rgba(0,0,0,0.27); 
    box-shadow: 4px 9px 9px 1px rgba(0,0,0,0.27);
    background-color: white;
}
label {
    display: block;
    padding-top: 20px;
}

div.flex-container {
    display: flex;
    gap: 3em;
    padding-left: 20px;
}
section.registration-form {
    padding: 20px 0;
    box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
    background-color: white;

}
section.create {
    flex: 1;
}

section.create>p {
    font-size: 1rem
}
section.create a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}
input.submit-button {
    font-size: 1.2em;
    margin: 40px;
    height: 50px;
    width: 250px;
    background-color: #596D48;
    color: white;
    border-width: 0px;
    border-radius: 10px;
    box-shadow: rgba(41, 60, 82, 0.158) 5px 10px 5px -5px;
}